<footer class="footer">
  <div class="footer-content">
    <div class="icon ic-farol footer-ic-farol"></div>
    <div class="footer-infos">
      <div class="footer-infos-item">
        <h4 class="footer-headline">
          Bill Bar e Restaurante
        </h4>
        <p>
          Rua José Cardoso de Oliveira, 891 Praia do Forte - Florianópolis, SC - 88053-306
        </p>
      </div>
      <div class="footer-navegation-content">
        <a class="footer-navegation-item" href="{{site.baseurl}}/">Home</a>
        <a class="footer-navegation-item" href="{{site.baseurl}}/fotos">Fotos</a>
        <a class="footer-navegation-item" href="{{site.baseurl}}/cardapio">Cardápio</a>
        <a class="footer-navegation-item" href="{{site.baseurl}}/contato">Contato</a>
      </div>
    </div>
  </div>
</footer>
