<header class="site-header {{page.bg-header}}" role="banner">
  <div class="header">
    <a href="#" class="icon ic-menu menu-hamburguer"></a>
    <div class="header-navegation navegation-landing">
      <a href="{{site.baseurl}}/" class="logo"></a>
      <div class="navegation-link-content">
        <a class="navegation-link text-white" href="{{site.baseurl}}/">Home</a>
        <a class="navegation-link text-white" href="{{site.baseurl}}/fotos">Fotos</a>
        <a class="navegation-link text-white" href="{{site.baseurl}}/cardapio">
          Cardápio
        </a>
        <a class="navegation-link text-white" href="{{site.baseurl}}/contato">Contato</a>
      </div>
    </div>
  </div>
</header>
