<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="description" content="">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link rel="icon" href="/img/favico.png" type="image/png">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Bill Bar e Restaurante" href="/feed.xml">
</head>
