<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="description" content="Bill é um dos mais tradicionais restaurantes de florianópolis e o mais procurado da praia do forte.">
  <meta name="keywords" content="Restaurante,Bar,Florianópolis,Florianopolis,Floripa,praia,verao,ilha,praia do forte,comida tipica">
  <link href="/css/main.css" rel="stylesheet">
  <link rel="icon" href="/img/favico.png" type="image/png">
  <link rel="canonical" href="http://www.restaurantedobill.com.br">
  <link rel="alternate" type="application/rss+xml" title="Bill Bar e Restaurante" href="/feed.xml">
</head>
