{% include head.html %}
  <body>
    <header class="site-header bg-landing-top" role="banner">
      <div class="header">
        <a href="#" class="icon ic-menu menu-hamburguer"></a>
        <div class="header-navegation navegation-landing">
          <a href="{{site.baseurl}}/" class="logo"></a>
          <div class="navegation-link-content">
            <a class="navegation-link text-white" href="{{site.baseurl}}/">Home</a>
            <a class="navegation-link text-white" href="#">Fotos</a>
            <a class="navegation-link text-white" href="{{site.baseurl}}/">
              Cardápio
            </a>
            <a class="navegation-link text-white" href="{{site.baseurl}}/blog">Contato</a>
          </div>
        </div>
        <div class="header-content">
          <h2 class="header-title">
            O Sabor
          </h2>
          <h2 class="header-sub-title">
            do Mar
          </h2>
        </div>
      </div>
    </header>
    <div class="container">
      <section class="section-about">
          <h1 class="bill-title">
            <span class="bill-title-name">Bill</span>
            Bar e Restaurante
          </h1>
          <p>
            {{ content }}
            O Bill está em funcionamento desde 2000, e já é um dos mais tradicionais restaurantes de florianópolis e o mais procurado da praia do forte. Mantém a tradição da ilha com seu cardápio especializado de frutos do mar de tempero ilhéu inigualável.
          </p>
          <br>
          <div id="TA_restaurantWidgetGreen988" class="midia-ta TA_restaurantWidgetGreen">
          <ul id="YmulJtSW" class="TA_links kH8gnKE">
          <li id="l8oE3xq23dX" class="8LvxinesP6">
          <a target="_blank" href="https://www.tripadvisor.com.br/"><img src="https://www.tripadvisor.com.br/img/cdsi/partner/tripadvisor_logo_117x18-24177-2.png" alt="TripAdvisor"/></a>
          </li>
          </ul>
          </div>
          <script src="https://www.jscache.com/wejs?wtype=restaurantWidgetGreen&amp;uniq=988&amp;locationId=7864643&amp;icon=knifeAndFork&amp;lang=pt&amp;display_version=2"></script>
      </section>
      <section class="infos-container">
        <ul class="infos">
          <li class="infos-item">
            <div class="infos-image icon ic-bar"></div>
            <div class="infos-description">
              <h4 class="infos-description-title infos-title-bordered">
                Bar
              </h4>
              <p>
                Petiscos, drinks, acompanhamentos. Momentos agradáveis
              </p>
            </div>
          </li>
          <li class="infos-item">
            <div class="infos-image icon ic-restaurant"></div>
            <div class="infos-description">
              <h4 class="infos-description-title infos-title-bordered">
                Restaurante
              </h4>
              <p>
                Especializado em frutos do mar, sempre frescos. Com vista para o mar
              </p>
            </div>
          </li>
        </ul>
        <div class="flex-content">
          <div class="infos flex-item infos-business-hours">
            <h4 class="">
              Horário de funcionamento
            </h4>
            Terça a Domingo, das 10h às 22h
          </div>
          <div class=" infos flex-item infos-contact-booking">
            <h4 class="">
              Contato e Reservas
            </h4>
            <a href="tel:4832664100">
               48 - 3266-4100, <small>Clique para ligar</small>
            </a>
            <br><br>
            <a href="mailto:bill@restaurantedobill.com.br">
              bill@restaurantedobill.com.br
            </a>
          </div>
        </div>
      </section>
    </div>

    <p class="margin-top-bottom-item-duble centered-item">
      <a class="btn" href="#">Faça sua reserva</a>
    </p>

    <div class="home-middle">
      <div class="home-middle-text">
        <h2 class="header-sub-title-middle">
          Um delicioso menu uma vista inesquecível
        </h2>
      </div>
      <img src="{{site.baseurl}}/img/home-view-of-the-sea.png" alt="">
    </div>

    <div class="container">
      <section class="midia-bottom centered-item">
        <h4>
          Recomendado pelo tripadvisor
        </h4>
        <div id="TA_selfserveprop314" class="TA_selfserveprop">
          <ul id="J4N6cMYNY3m" class="TA_links bVM0NOFb">
            <li id="lm8xAIOaow1" class="BWYQLm0z">
              <a target="_blank" href="https://www.tripadvisor.com.br/"><img src="https://www.tripadvisor.com.br/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
            </li>
          </ul>
        </div>
        <p class="margin-top-bottom-item">
          <a class="btn" href="#">Confira nosso cardápio</a>
        </p>
        <p>
          <div class="icon ic-farol mobile"></div>
        </p>
      </section>
      {% include footer.html %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/main.js"></script>
    <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=314&amp;locationId=7864643&amp;lang=pt&amp;rating=true&amp;nreviews=5&amp;writereviewlink=false&amp;popIdx=false&amp;iswide=false&amp;border=false&amp;display_version=2"></script>
  </body>
</html>
