{% include head.html %}
  <body>
    {% include header.html %}
    <section>
      <div class="title-page-container">
        <h2 class="page-title">{{ page.title }}</h2>
        <i class="icon {{ page.icon-title }} icon-title-page"></i>
      </div>
      {{ content }}
    </section>
    <div class="container">
      {% include footer.html %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/main.js"></script>
    <script src="{{site.baseurl}}/js/lightbox.js"></script>
  </body>
</html>
